<div id="Contact"class="message-container">
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <img src="http://webdesign-finder.com/acebeat/wp-content/uploads/2018/01/logo.png">
      <p>You can purchase my music albums, where you will find all my tracks, on iTunes, Google Play, Amazon, Spotify or SoundCloud.</p>
    </div>
    <div class="col-md-4 col-xs-12">
      <h1>MAILING FROM</h1>
      <form action="">
        <div class="form-group">
          <input type="text" class="form-control" name="name"placeholder="Full Name">
        </div>
        <div class="form-group">
          <textarea class="form-control" name="name"placeholder="Your Message"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" class="red-button"value="Send Message">
        </div>
      </form>
    </div>
    <div class="col-md-4 col-xs-12">
      <h1>MY CONTACTS</h1>
      <p><i class="fa fa-map-marker highlight" style="color:red;"></i>  Some Adress, Some City, CA 47812</p>
      <p><i class="fa fa-phone highlight"style="color:red;"></i>	1-888-123-5896  </p>
      <p><i class="fa fa-fax highlight"style="color:red;"></i>	1-888-123-4567  </p>
      <p><i class="fa fa-envelope highlight"style="color:red;"></i> info@example.com</p>
    </div>
  </div>
</div>
<div class="footer-container">
<span>
  © COPYRIGHT 2017 ALL RIGHTS RESERVED
</span>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="./stylesheet/app.js"></script>

</body>
</html>
